.container {
  display: grid;
  grid-gap: 10px;
}

.row {
  border: 1px solid #eee;
  padding: 0 15px;
  border-radius: 10px;
  height: 70px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 100px;
}

.row:nth-child(odd) {
  background-color: #eee;
  border-color: #000;
}

.row:nth-child(even) {
  background-color: #fff;
}